@font-face {
  font-family: GypsyCurse;
  src: url("../fonts/GypsyCurse.woff") format("woff"); /* IE6-IE8 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  font-family: "kaushan script";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.parallax {
  perspective: 3px;
  perspective-origin: center;
  transform-style: preserve-3d;
  position: relative;
  scroll-behavior: smooth;
  z-index: -10;
}

.layer {
  position: absolute;
  height: 120vh;
  width: 100vw;
  z-index: -10;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.l1 {
  background: url(../images/orange/background.svg);
}

.l2 {
  background: url(../images/orange/sky_2.svg);
}

.l3 {
  background: url(../images/orange/sky_1.svg);
}

.l4 {
  background: url(../images/orange/cloud_back.svg);
  animation: movex 15s ease-in-out infinite alternate;
  mix-blend-mode: color-dodge;
}

.l5 {
  background: url(../images/orange/cloud_middle.svg);
  animation: movex 10s ease-in-out infinite alternate;
  mix-blend-mode: color-dodge;
}

.l6 {
  background: url(../images/orange/castle.svg);
}

.l7 {
  background: url(../images/orange/tree.svg);
}

.l9 {
  background: url(../images/orange/bats_five.svg);
}

.l10 {
  background: url(../images/orange/bat_large.svg);
  background-size: 20% 20% !important;
  background-position: 40% 60%;
}

.l11 {
  background: url(../images/orange/spider_web.svg);
  z-index: 10;
}

.l12 {
  background: url(../images/orange/graveyard.svg);
  background-position: bottom;
}

.l13 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* position: relative; */
  font-family: "kaushan script";

}

.l13 .logoCon{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.l13 img{
  max-width: 80%;
  margin: auto;
  object-fit: contain;
}

.l13 p {
  text-align: center;
  font-size: 5rem;
  font-family: GypsyCurse;
  margin: 1.4rem 0;
}

.l13 .registerBtn{
  width: 90%;
  margin: auto;
  background-color: #222;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  transition: all .4s;
  color: white;
  text-decoration: none;
}

.registerBtn:hover{
  background-color: #222;
  color: white;
}

.pixologo{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 4rem;
}

.pixologo img{
  width: 100%;
  object-fit: contain;
}

.nithlogo{
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 8rem;
}

.nithlogo img{
  width: 100%;
  object-fit: contain;
}

.about {
  height: 130vh;
  width: 100vw;
  padding: 0 5rem;
  position: relative;
  overflow: hidden;
  top: -5px;
  background: #191919;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.aboutHeading{
  font-size: 4rem;
  margin-bottom: 2rem;
}

.aboutText{
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.moon {
  background: url(../images/blue/blue_background2.png);
  background-attachment: fixed;
  background-position: center;
  transform: scale(1.1) translateZ(-2px);
  overflow-x: hidden;
  width: 100%;
}
.moon img {
  width: 100%;
  position: absolute;
  bottom: -10%;
}

.blank {
  height: 144vh;
}

@keyframes movex {
  from {
    transform: translate(-15em, 0);
  }
  to {
    transform: translate(15em, 0);
  }
}
@media only screen and (max-width: 980px) {

  .l13 .registerBtn{
    padding: .6rem;
  }

  .l13 .logoCon{
    top:50%;
    max-width: 8rem;
  }
  
  .l13 p {
    text-align: center;
    font-size: 2rem;
    font-family: GypsyCurse;
  }
  
  .pixologo{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 4rem;
  }
  
  .nithlogo{
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 5rem;
  }

  .layer {
    background-position: 20%;
  }

  .l4, .l5 {
    animation: none;
  }

  .l5, .l7, .l10, .l11 {
    display: none;
  }

  .blank {
    max-height: 2200px;
  }

  .about {
    max-height: 1700px;
  }

  .moon {
    transform: none;
  }
}

/*# sourceMappingURL=home.css.map */
