@font-face {
  font-family: GypsyCurse;
  src: url("../fonts/GypsyCurse.woff") format("woff");
  /* IE6-IE8 */
}

@font-face{
  font-family: RiseInsidE;
  src: url("../fonts/RiseInsidE-Regular.woff") format("woff");
}

@font-face{
  font-family: Crucifixion;
  src: url("../fonts/Crucifixion-Regular.woff") format("woff");
}

@-webkit-keyframes movex {
  from {
    -webkit-transform: translate(-15em, 0);
            transform: translate(-15em, 0);
  }
  to {
    -webkit-transform: translate(15em, 0);
            transform: translate(15em, 0);
  }
}

@keyframes movex {
  from {
    -webkit-transform: translate(-15em, 0);
            transform: translate(-15em, 0);
  }
  to {
    -webkit-transform: translate(15em, 0);
            transform: translate(15em, 0);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  font-family: "kaushan script";
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: black;
}

#wrapper{
  position: relative;
  width: 100%;
  overflow: visible;
  padding-bottom: 20px;
/*   padding-left: 5px;
  padding-right: 5px; */
  background-color: #191919;
}

.content{
  position: relative;
  z-index: 100;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0.7;
  
}
#particles-js{
width: 100%;
position: absolute;
z-index: 0;
background-color: rgba(0,0,0,0);
background-image: url('');
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}


::-webkit-scrollbar {
  display: none;
}

.parallax {
  -webkit-perspective: 3px;
          perspective: 3px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  height: 135vh;
  width: 100vw;
  scroll-behavior: smooth;
}

.layer {
  position: absolute;
  height: 120vh;
  width: 100vw;
  z-index: -10;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.l1 {
  background: url(../images/orange/background.svg);
}

.l2 {
  background: url(../images/orange/sky_2.svg);
}

.l3 {
  background: url(../images/orange/sky_1.svg);
}

.l4 {
  background: url(../images/orange/cloud_back.svg);
  -webkit-animation: movex 15s ease-in-out infinite alternate;
          animation: movex 15s ease-in-out infinite alternate;
  mix-blend-mode: color-dodge;
}

.l5 {
  background: url(../images/orange/cloud_middle.svg);
  -webkit-animation: movex 10s ease-in-out infinite alternate;
          animation: movex 10s ease-in-out infinite alternate;
  mix-blend-mode: color-dodge;
}

.l6 {
  background: url(../images/orange/castle.svg);
}

.l7 {
  background: url(../images/orange/tree.svg);
}

.l9 {
  background: url(../images/orange/bats_five.svg);
}

.l10 {
  background: url(../images/orange/bat_large.svg);
  background-size: 20% 20% !important;
  background-position: 40% 60%;
  display: none;
}

.l11 {
  background: url(../images/orange/spider_web.svg);
  z-index: 16;
}

.l12 {
  background: url(../images/orange/graveyard.svg);
  background-position: bottom;
}

.l81 {
  width: 20%;
  top: -10rem;
  left: 15%;
}

.overlay {
  color: white;
  height: 135vh;
  position: relative;
  font-family: "kaushan script";
}
.overlay .logoCon {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.overlay img {
  max-width: 80%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.overlay p {
  text-align: center;
  font-size: 5rem;
  transform: scale(1.2,1);
  font-family: GypsyCurse;
  margin: 1.4rem 0;
}

.overlay .minor{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .2rem;
  text-align: center;
  font-family: "kaushan script",roboto,arial;
  margin-bottom: .5rem;
}

.overlay .registerBtn {
  width: 90%;
  margin: auto;
  background-color: #222;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  text-decoration: none;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.registerBtn:hover {
  background-color: #222;
  color: white;
}

.broom{
  width: 24rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 5rem;
  z-index: 4;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rip{
  width:15rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0rem;
  right: 3rem;
  z-index: 4;
}

.hat{
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  right: 30%;
}

.pixologo {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 4rem;
}
.pixologo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nithlogo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 8rem;
}
.nithlogo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about {
  /* min-height: 90vh; */
  width: 100vw;
  position: relative;
  overflow: hidden;
  top: -5px;
  /* background: #191919; */
  /* background-size: cover !important;
  background-repeat: no-repeat !important; */
}

.p1 {
  position: relative;
  min-height: 75vh; 
  padding: 0 5rem;
  height: 122vh;
  overflow: visible;
  /* background-image: url(../images/pumpkin.jpg); */
  background-size: cover;
  font-family: RiseInsidE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#wrapper::after{
  content: "";
  left: 0;
  width: 100vw;
  height: 20vh;
  background: -webkit-gradient(linear,left top, left bottom,from(#191919),color-stop(#0e4b90),to(#0e4b9011));
  background: -o-linear-gradient(#191919,#0e4b90,#0e4b9011);
  background: linear-gradient(#191919,#0e4b90,#0e4b9011);
  position: absolute;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  transform: scale(1.1);
  bottom: -10vh;
  z-index: 12;
}
.p1 .art {
  width: 30%;
  position: relative;
  top: -2rem;
}
.p1 .aboutHeading {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: Crucifixion;
  letter-spacing: 1.5rem;
  text-align: center;
  width: 100%;
}

.minor{
  font-size: 1rem;
}

.aboutCon{
  position: relative;
  font-size: 1.3rem;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grim{
  width: 30%;
}

.grim img{
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutText {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.4;
  width: 70%;
  margin-bottom: 4rem;
}

.pumpCon{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pumpCon .rad{
  width: 50%;
  height: 50%;
  background: -o-radial-gradient(rgb(202, 131, 0), rgb(143, 93, 18));
  background: radial-gradient(rgb(202, 131, 0), rgb(143, 93, 18));
  -webkit-animation: radial 1s ease-in-out infinite;
          animation: radial 1s ease-in-out infinite;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-clip-path: circle(40%);
          clip-path: circle(40%);
  /* transition: all 1s; */
}

.pumpCon img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30rem;
  /* height: 100%; */
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes radial{
  0%{
    opacity: 0;
    /* background: radial-gradient(rgb(202, 131, 0), rgb(56, 34, 0)); */
  }
  50%{
    opacity: 1;
    /* background: radial-gradient(rgb(56, 34, 0), rgb(202, 131, 0)); */
  }
  100%{
    opacity: 0;
  }
}

@keyframes radial{
  0%{
    opacity: 0;
    /* background: radial-gradient(rgb(202, 131, 0), rgb(56, 34, 0)); */
  }
  50%{
    opacity: 1;
    /* background: radial-gradient(rgb(56, 34, 0), rgb(202, 131, 0)); */
  }
  100%{
    opacity: 0;
  }
}

.p3{
  height: 90vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  top: -5px;
  background: #191919;
}

.moon {
  background: url(../images/blue/blue_background2.png);
  background-attachment: fixed;
  background-position: center;
  -webkit-transform: scale(1.1) translateZ(-2px);
          transform: scale(1.1) translateZ(-2px);
  overflow-x: hidden;
  font-family: "Montserrat";
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.moon img {
  width: 100%;
  position: absolute;
  bottom: -20%;
}
.moon .type {
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  font-family: RiseInsidE;
  letter-spacing: .3rem;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000;
  /* mix-blend-mode: exclusion; */
}

.galleryLink{
  text-align: center;
  padding: 1rem 3rem;
  text-decoration: none;
  background-color: #191919;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 15%;
  font-size: 2.5rem;
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  /* border-radius: 5px; */
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 0px 2px 18px #000000;
          box-shadow: 0px 2px 18px #000000;
  font-family: RiseInsidE;
  letter-spacing: .4rem;
}

.galleryLink:hover{
  background-color: white;
  color: #191919;
}
.p3{
    padding: 0;
    /* display: none; */
    height: 20vh;
    min-height: 100px;
    background: black;
    overflow: visible;
}
.p3::before{
  content: "";
  width: 100vw;
  height: 10vh;
  background: -webkit-gradient(linear,left top, left bottom,from(#3e2f8222),color-stop(#20163d),to(#000));
  background: -o-linear-gradient(#3e2f8222,#20163d,#000);
  background: linear-gradient(#3e2f8222,#20163d,#000);
  position: absolute;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  transform: scale(1.1);
  top: -5vh;
  z-index: 12;
  /* transform: translate(-5rem,0); */
}


/* 
.boo {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.pumpkinCon{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -200;
}

.spoopy {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.flame {
  background-image:
    radial-gradient(
      circle closest-side,
      yellow,
      black
    );
  transform-origin:center center;
  animation-name: fire;
  animation-duration: 15ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
   animation-direction: alternate;
  background-color: yellow;
  width: 350px;
  height: 350px;
  border-radius: 250px;
  margin: 0 auto;
  z-index:99;
  position: absolute;
  left: 170px;
  top: 60px;
  margin: 0 auto;
}

.flame-orange {
  background-image:
    radial-gradient(
      circle closest-side,
      red,
      transparent
    );
  transform-origin:center center;
  animation-name: fire;
  animation-duration: 15ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
   animation-direction: alternate;
  width: 250px;
  height: 250px;
  border-radius: 250px;
  margin: 0 auto;
  z-index:99;
  position: absolute;
  left: 230px;
  top: 130px;
  margin: 0 auto;
  opacity: .5;
}
 */
@-webkit-keyframes fire{
  0%   {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  20%  {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
  40%  {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  60%  {-webkit-transform: rotate(1deg) scaleX(1.01);transform: rotate(1deg) scaleX(1.01);}
  80%  {-webkit-transform: rotate(-2deg) scaleX(1.09);transform: rotate(-2deg) scaleX(1.09);}
  100% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
}
@keyframes fire{
  0%   {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  20%  {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
  40%  {-webkit-transform: rotate(-1deg);transform: rotate(-1deg);}
  60%  {-webkit-transform: rotate(1deg) scaleX(1.01);transform: rotate(1deg) scaleX(1.01);}
  80%  {-webkit-transform: rotate(-2deg) scaleX(1.09);transform: rotate(-2deg) scaleX(1.09);}
  100% {-webkit-transform: rotate(1deg);transform: rotate(1deg);}
}

.footer{
  font-family: roboto;
  height: 50vh;
  /* max-height: 500px; */
  /* background: linear-gradient(#000,#0008,#0005,#0009,#000a), url('../images/orange/witch.png'); */
  /* background: url('../images/orange/orange.png'); */
  /* background: black;   */
  /* max-height: 500px;
  background: linear-gradient(#000,#0008,#0005,#0009,#000a), url('../images/orange/witch.png'); */
  background: black;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .social{
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  /* padding: 0 8rem; */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.i{
  width: 10%;
  cursor: pointer;
  font-family: Crucifixion;
  font-size: 1rem;
  letter-spacing: .3rem;
}

.i img{
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.made{
  cursor: pointer;
  font-family: RiseInsidE;
  letter-spacing: .2rem;
  font-weight: bold;
  font-size: 1rem;
}
/* .footer .social  > *{
  width: 100px;
  height: 100px;
  background: red;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.pumpkin {
  display: block;
  margin: 0 auto;
  width: 800px;
  z-index: 1000;
  position: relative;
}


@media only screen and (max-width: 980px) {

  .i{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .4rem;
  }

  .aboutCon{
    width: 100%;
    text-align: center;
    font-size: .8rem;
  }

  .grim{
    width: 40%;
    margin: auto;
  }

  .broom{
    width: 10rem;
  }
  
  .rip{
    width:8rem;
  }
  
  .hat{
    width: 8rem;
  }

/*   .p1{
    padding: 0 .5rem;
  }
  .p1::after{
    -webkit-transform: translate(-2rem,0);
        -ms-transform: translate(-2rem,0);
            transform: translate(-2rem,0);
  }
 */
  .overlay .registerBtn {
    padding: 0.6rem;
  }
  .overlay .logoCon {
    top: 50%;
    max-width: 12rem;
  }
  .overlay p {
    text-align: center;
    font-size: 2rem;
    font-family: GypsyCurse;
  }

  .pixologo {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 4rem;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }

  .nithlogo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 5rem;
  }

  .layer {
    background-position: 20%;
  }

  .l4, .l5 {
    -webkit-animation: none;
            animation: none;
  }

  .l5, .l7, .l10, .l11 {
    display: none;
  }

  .about {
    max-height: 1700px;
  }

  .p1 {
    padding: 4em 2em;
  }

  .aboutHeading {
    font-size: 2em;
  }

  .aboutText {
    font-size: 1.1em;
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    line-height: 1.3;
    padding: 0 1rem;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    background-position: left 50% top 0rem;
  }

  .moon {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .moon img{
    bottom: 0;
  }
  .galleryLink{
    font-size: 1rem;
    bottom: 3%;
    padding:1rem 1rem;
    margin: 0 auto;
    transform: translate(-50%, -9rem);
    mix-blend-mode: difference;
  }

  .footer{
    height: 30rem;
  }

  .footer .social{
    /* flex-direction: column; */
    margin-top: 5rem;
  }

  .i{
    font-family: roboto;
    letter-spacing: 0;

    width: 40%;
    position: relative;
    margin: .9rem 0;
  }
  .i img{
    width: 80%;
  }

  .made{
    font-family: roboto;
    letter-spacing: 0;

    margin: 1rem 0;
    font-size: 0.8rem;
    letter-spacing: .2rem;
  }
}