@font-face {
  font-family: GypsyCurse;
  src: url("../fonts/GypsyCurse.woff") format("woff");
  /* IE6-IE8 */
}

@font-face{
  font-family: RiseInsidE;
  src: url("../fonts/RiseInsidE-Regular.woff") format("woff");
}

@font-face{
  font-family: Crucifixion;
  src: url("../fonts/Crucifixion-Regular.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.toggle{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 100;
  color: black;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  margin: 2rem;
}

.navicon{
  width: 6rem;
  height: 5rem;
  padding: 1rem;
  position: absolute;
  right: -2rem;
  top: 1rem;
  position: fixed;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10000;
  background-color: #1b161659;
}

.white{
  background-color: rgba(255, 255, 255, 0.596);
}

.fullwhite{
 background-color: rgba(255, 255, 255, 0.596); 
}

#nav-icon2 {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #000000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  bottom: 0%;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.menu{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 5  0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  background: linear-gradient(to right,#ff5722 10%,black,black);
}
.menu.active{
  left: 0;
  overflow: auto;
}

/* .menu .back{
  position: absolute;
  left: 0;
  background: transparent;
  width: 50%;
  /* box-shadow: 10px 0px 5px 3px #0002; */02 */
  height: 100%;
} */

.menu ul{
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  font-family: Crucifixion;
  font-size: 1.5rem;
  /* letter-spacing: 1rem; */
  font-weight: bold;
}
.menu ul li{
  list-style: none;
  text-align: center;
}

.menu ul li a{
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-family: RiseInside;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}

.menu ul li a:hover{
  /* background: #ee0000; */
  /* border-radius: 10px; */
  color: #ff5722;
}

.spookyCon{
  width: 400px;
  height: 400px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  -webkit-animation: floaty 2s infinite;
          animation: floaty 2s infinite;
}

.body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.body::before,
.body::after {
  content: '';
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
  -webkit-animation: floaty .2s infinite;
          animation: floaty .2s infinite;
}

.body::before {
  left: -18px;
}

.body::after {
  right: -18px;
}

.eyes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 90px 0 0;
  width: 90px;
  height: 20px;
}

.eyes::before,
.eyes::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

.mouth {
  background: #252c49;
  margin: 25px auto 0;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mouth::before {
  content: ' ';
  display: block;
  background: #fff;
  margin-left: 20px;
  width: 10px;
  height: 10px;
}

.feet {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

.feet>*,
.feet::before,
.feet::after {
  content: ' ';
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

.shadow {
  margin: -90px auto 0;
  background: #000000de;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  -webkit-animation: zoomy 2s infinite;
  animation: zoomy 2s infinite;
}

@-webkit-keyframes floaty {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes floaty {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes zoomy {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes zoomy {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/* 
.menu ul li:nth-child(2) {
  margin-bottom: 18px;
  padding-top: 0px;
}
 */

li::after , li::before{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  opacity: 0;
  height: 50px;
  width: 50px;
  overflow: none;
  margin: 0 1.5rem;
}

li::after{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

li:hover::after,li:hover::before{
  opacity: 1;
}

.m1::after, .m1::before{
  content: url('../images/icons/candle.svg');

}

.m2::after, .m2::before{
  content: url('../images/icons/ghost.svg');

}
.m3::after, .m3::before{
  content: url('../images/icons/skull.svg');

}
.m4::after, .m4::before{
  content: url('../images/icons/vampire.svg');

}
.m5::after, .m5::before{
  content: url('../images/icons/flask.svg');

}

@media only screen and (max-width: 980px){

  #nav-icon2.open span:nth-child(5) {
    left: 3px;
    top: 15px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 3px);
    top: 15px;
  }

  .menu ul li:nth-child(2) {
  margin-bottom: 0px;
}

  .menu .back{
    display: none;
  }
  .menu{
    background: black;
  }

  .spookyCon{
    display: none;
  }
  .navicon{
    width: 3rem;
    height: 2.5rem;
    padding: .5rem;
    right: 0rem;
  }

  #nav-icon2 span{
    height: 5px;
  }
  li::before,li::after {
    /* font-size: 1rem; */
    display: none;
  }
  
}
