@font-face {
  font-family: GypsyCurse;
  src: url("../fonts/GypsyCurse.woff") format("woff");
  /* IE6-IE8 */
}

@font-face{
  font-family: RiseInsidE;
  src: url("../fonts/RiseInsidE-Regular.woff") format("woff");
}

@font-face{
  font-family: Crucifixion;
  src: url("../fonts/Crucifixion-Regular.woff") format("woff");
}

.toggle{
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  color: black;
  background-color: transparent;
	width: 3rem;
	height: 3rem;
	margin: 2rem;
}

.navicon{
  width: 6rem;
  height: 5rem;
  padding: 1rem;
  position: absolute;
  right: -2rem;
  top: 1rem;
  position: fixed;
  transform: translate(-50%, 0);
  z-index: 100;
  background-color: #1b161659;
}

#nav-icon2 {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #000000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 50%;
  transform: translate(0, -50%);
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  bottom: 0%;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.menu{
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 5  0;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  background-color:  #424f6f;
}
.menu.active{
  left: 0;
  overflow: auto;
}
.menu ul{
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
  font-family: Crucifixion;
  font-size: 1.5rem;
  /* letter-spacing: 1rem; */
  font-weight: bold;
}
.menu ul li{
  list-style: none;
}

.menu ul li a{
  padding: 10px;
  display: inline-block;
  font-family: verdana;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  color: #262626;
}
.menu ul li a:hover{
  background: #FFFC8533;
  border-radius: 20px;
  color: #eeeeee;
}

.spookyCon{
  width: 400px;
  height: 400px;
  padding: 0;
  box-sizing: border-box;
  background: #424f6f;
}

.spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

.body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.body::before,
.body::after {
  content: '';
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
  animation: floaty .2s infinite;
}

.body::before {
  left: -18px;
}

.body::after {
  right: -18px;
}

.eyes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 90px 0 0;
  width: 90px;
  height: 20px;
}

.eyes::before,
.eyes::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

.mouth {
  background: #252c49;
  margin: 25px auto 0;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mouth::before {
  content: ' ';
  display: block;
  background: #fff;
  margin-left: 20px;
  width: 10px;
  height: 10px;
}

.feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

.feet>*,
.feet::before,
.feet::after {
  content: ' ';
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

.shadow {
  margin: -90px auto 0;
  background: #252c49;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes zoomy {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}


li::after , li::before{
  transition: all 0.5s;
  display: inline-block;
  opacity: 0;
  height: 50px;
  width: 50px;
  margin: 0 1.5rem;
}

li::after{
  transform: rotateY(180deg);
}

li:hover::after,li:hover::before{
  opacity: 1;
}

.m1::after, .m1::before{
  content: url('../images/icons/candle.svg');

}

.m2::after, .m2::before{
  content: url('../images/icons/ghost.svg');

}
.m3::after, .m3::before{
  content: url('../images/icons/skull.svg');

}
.m4::after, .m4::before{
  content: url('../images/icons/vampire.svg');

}
.m5::after, .m5::before{
  content: url('../images/icons/flask.svg');

}

@media only screen and (max-width: 980px){
  .spookyCon{
    display: none;
  }
  .navicon{
    width: 3rem;
    height: 2.5rem;
    padding: .5rem;
    right: 0rem;
  }

  #nav-icon2 span{
    height: 5px;
  }
  li::before,li::after {
    /* font-size: 1rem; */
    display: none;
  }
  
}




/* @import url('https://fonts.googleapis.com/css?family=Galada');
.menu__header {
  position: fixed;
  z-index: 5;
  width: 100%;
  font-family: 'Galada', cursive;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 35px;
  height: 5px;
  margin: 0 0 6px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(10px, 10px);
          transform: rotate(45deg) translate(10px, 10px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  width: 33.33%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #8d67ff;
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
    width: 66.67%;
  background-color: #8761fb;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-family: 'Galada', cursive;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 7px;
  height: 3px;
  border-radius: 3px;
  background: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 125%;
}
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}
.menu .logo {
  width: 280px;
  height: 280px;
}
@media screen and (max-width: 768px) {
  .burger__patty{
    height: 3px;
    width: 25px;
  }
  .menu ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .menu ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 100px;
    height: 100px;
  }
}

.fp-viewing-0 .burger__patty{
  background-color: rgba(29, 12, 46,1);
} */