@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
html{
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	min-height: 100%;
	background-size: 100% 100%;
	font-size: 16px;
	text-align: center;
 	background-attachment: fixed;
 	font-family: Carson, 'Trebuchet MS', sans-serif;
}
input[type=text]{
	color: white;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance:none;
	margin: 0;
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
.container{
	position: absolute;
	min-height: 100%;
	width: 100%;
	display: block;
	text-align:center;
	background-image: url('../images/blur.jpg') ;	
	background-repeat: no-repeat;
	background-size: cover;
	/*background-image: url('../images/backg.png');
	background-attachment: fixed;
	background-size: contain;
	color: #fff;
	padding: 8% 2% 8%*/
}
.sub-container{
	position: absolute;
	height: 90%;
	width: 90%;
	background: #000;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin:auto;
	background-image: url('../images/blur.jpg') ;	
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 6px;
}
@media (min-width: 1024px){
	.sub-container{
		height: 85%;
		width: 85%;
	}
}
.sub{
	float: left;
	display: block;
	margin: 0px;
	padding:0px;
	width: 50%;
	height: 100%;
}
/*Side Content*/
.info{
	position: relative;
	display: block;
	color: white;
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
}

.side-content{
	height: 80%;
	width: 75%;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	margin:auto;
	position: absolute;
	padding: 15% 0%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}
.logos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 25px;
	padding: 0px 60px;
}
.logos img{
	width:80px;
	height: 80px;
	opacity: 0.8;
}
.name-dates{
	margin-top: 40px;
	margin-bottom:45px;
}
#heading{
	font-family: Montserrat;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.5px;
	line-height: 29.25px;
	margin-bottom: 10px;
}
#tagline{
	font-family: Josefin Sans;
}
.hillffairDate{
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.36000001430511475px;
	line-height: 20px;
}
.text-content{
	font-family: Lato, arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	letter-spacing: normal;
	text-transform: none;
	margin-bottom: 30px;
}
.links{
	padding:5px 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.links span{
	font-size: 10px;
}
.links span a{
	width: 35px;
	height: 35px;
	background-color: #fff;
	text-align: center;
	line-height: 23px;
	display: block;
	border-radius: 50%;
	position: relative;

	color:black;
}
.links span a .fa{
	position: relative;
	padding-top: 8px;
    font-size: 2em;
}
/*Form*/
.aboveFormContent{
	display: none;
}
.formContent{
	background-color: rgba(0,0,0,0.93); ;
	padding:80px 50px;
	border-radius: 5px;
}
.contactForm{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.formField{
	width: 100%;
	position: relative;
	overflow: visible;
}
.email, .phone, .college, .city{
	position: relative;
	width:  48%;
	overflow: visible;
	display: inline-block;
}
.college-city,.phone-mail{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.textfieldLabel{
	color: #dedede;
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 0.4rem;
    left: 0;
    -o-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    -moz-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    white-space: nowrap;
    font-size: 0.9rem;
}
.active {
  top: -1.3rem;
  -moz-top:-1.3rem;
  font-size: 0.8rem;
}
.textfieldInput{
	padding: 0.5rem 0.5rem;
    border: 1px solid #fff;
    width: 100%;
    font-size: 0.9rem;
    color: #fff;
    background: transparent;
    border-radius: 4px;
}
select{
	padding: 0.5rem 0.5rem;
    border: 1px solid #fff;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    border-radius: 4px;
}
/*#selectEvent{
	top: -1.3rem;
  -moz-top:-1.3rem;
  font-size: 0.8rem;
}*/
option{
	color: black;
	border-bottom: 1px solid #000;
}
.formSubmit{
	margin: 0 auto;
   	padding:15px 12px 12px;
    font-size: 0.9em;
    width: 150px;
    border: none;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.1s ease;
}
.formSubmit:hover{
	color: #ccc;
	background-color: #666;
}
.invalid-message{
	position: absolute;
    font-size: 0.7em;
    color: red;
    top: -0.9rem;
    right: 0;
}
.form-links{
	visibility: hidden;
}

@media (max-width: 768px) {
	.sub{
		height: auto;
	}
	.sub-container{
		width: 100%;
		position: relative;
	}
	.info{
		background-color: #393D3F;
		position: relative;
		display: none;
	}
	.formContent{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		background-color: transparent;
	}
	.contactForm{
		height: 70%;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.aboveFormContent{
		color: white;
		display: block;
	}
	.aboveFormContent .logos{
		margin-bottom: 10px;
	}
	.aboveFormContent .logos img{
		width:40px;
		height: 40px;
	}
	.name-dates{
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.form-links{
		visibility: hidden;
	}
	.aboveFormContent #heading{
		font-size: 18px;
		margin-bottom: 0px;
	}
	.formField{
		margin-bottom: 1.3rem;
	}
	.aboveFormContent .hillffairDate{
		font-size: 13px;
	}
	.textfieldLabel{
		font-size: 0.8rem;
	}
	.active{
		font-size: 0.7rem;
	}
	.invalid-message{
		font-size: 0.4em;
		top: -1em;
	}
}
.confirm{
	position: fixed;
    top: 50%;
    left: 50%;
    width: 57%;
    background-color: rgba(255,255,255,0.98);
    /*border:3px Green solid;*/
    border-radius: 5px;
    height: auto;
    z-index: 2000;
    padding:50px 30px;
    font-size: 2em;
    font-family: josefin Sans;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.3);
    transform: translateX(-50%) translateY(-50%) scale(0.3);
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    display: none;
}
.confirm i{
	color: Green;
	font-size: 2em;
	margin-bottom: 20px;
}
.confirm h2{
	color: #555;
	margin-bottom: 20px;
}
.confirm h3{
	color: #aaa;
	font-size: 1em;
}
@media(max-width: 768px){
	.confirm{
		width: 80%;
	}
	.confirm i{
		color: Green;
		font-size: 2em;
		margin-bottom: 20px;
	}
	.confirm h2{
		color: #555;
		font-size: 1em;
		margin-bottom: 20px;
	}
	.confirm h3{
		color: #aaa;
		font-size: 0.5em;
	}
}
.yes{
	z-index: 100;
}