/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400');*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
html{
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	min-height: 100%;
	background-size: 100% 100%;
	font-size: 16px;
	text-align: center;
	background: #fff;
	background-attachment: fixed;
 	/*changed*/
	font-family: Carson, 'Trebuchet MS', sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.container{
	position: absolute;
	min-height: 100%;
	width: 100%;
	display: block;
	text-align:center;
	/*background-image: url('../images/backg.png');
	background-attachment: fixed;
	background-size: contain;
	color: #fff;
	padding: 8% 2% 8%*/
}
/* 
h1{
	margin-top: 4rem;
	font-family: Josefin Sans;
}
h2{
	margin-top: 2rem;
	font-family: Josefin Sans;
} */

.header{
	height: 7rem;
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 3px 2px #0003;
}

.hill{
	position: absolute;
	color: orange;
	background: #000;
	font-weight: 600;
	width: 100vw;
}

.sp{
	font-size: 3rem;
	line-height: 8rem;
	font-weight: 600;
	background: #FF9800;
	overflow: hidden;
	color: #2b2923;
}

.sec{
	margin: 10px auto;
	color: black;
	font-family: RiseInside;
	margin-top: 3rem;
	/* background: #1500ff1a; */
	padding: 0.5rem;
	width: 50%;
	border-bottom: 1px solid orange;
}



.sponsors{
	padding: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
.Coming{
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 6em;
	font-family: Great Vibes;
}
.burger__patty{
	background-color: rgba(29, 12, 46,1);
}

.spon {
	width: 300px;
	height: auto;
	margin: 40px;
	border-radius: 20px;
	box-shadow: 0 0 4px 2px #0003;
	padding: 10px;
}