* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #2229;
}

::-webkit-scrollbar-track {
  background: #eee8;
}

body {
  background: linear-gradient(#42275a,#734b6d);
}

header {
  height: 4em;
  background: -webkit-gradient(linear, left top, left bottom, from(#E91E63), to(#9C27B0));
  background: -o-linear-gradient(#E91E63, #9C27B0);
  background: linear-gradient(#E91E63, #9C27B0);
  position: -webkit-sticky;
  position: sticky;
  top: -2.5em;
  z-index: 2;
}
header .logo {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 2px 30px;
  font-family: "open sans";
}

.team {
  height: 2.5em;
  font-size: 6em;
  color: #ffffff;
  background: #291937ab;
  text-align: center;
  line-height: 2.5em;
  font-family: "kaushan script";
  position: relative;
}

.nav {
  text-align: center;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  background: #0006;
  padding: 1rem;
  top: 0;
  z-index: 3;
}
.nav li {
  display: inline-block;
  width: 250px;
  font-size: 1em;
  color: #ffbf00;
  text-align: center;
}
.nav li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.usr_type {
  position: relative;
  font-family: montserrat;
  font-size: 2em;
  height: 2.5em;
  line-height: 2.5em;
  width: 5em;
  display: inline-block;
  bottom: -150px;
  color: #ffbf0091;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.usr_type:hover + .container {
  color: #da2361;
  background: #ed143d11;
}
.usr_type:hover {
  color: #da2361;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}
.container .info {
  width: 100%;
  margin: 10px 10%;
  color: #777;
  font-style: italic;
}
.container .card {
  width: 200px;
  position: relative;
  margin: 1rem 3rem;
}
.container .card .pic {
  width: 100%;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.container .card .pic:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.container .card .pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.container .card .pic img:hover {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.container .card .cap {
  height: 3.5em;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  overflow: hidden;
}
.container .card .cap:hover + .card {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.container .card .cap .con {
  -webkit-transform: translate(0, -3.5em);
      -ms-transform: translate(0, -3.5em);
          transform: translate(0, -3.5em);
}
.container .card .cap .con:hover {
  -webkit-transform: translate(0, 0em);
      -ms-transform: translate(0, 0em);
          transform: translate(0, 0em);
}
.container .card .cap .usr_name {
  font-weight: 700;
  padding: 0.25em;
  height: 1.5em;
  color: #fff;
}
.container .card .cap .desc {
  color: #888;
  padding: 0.15em;
  font-size: 0.75em;
  font-style: italic;
  height: 1em;
}
.container .card .cap .num {
  height: 3.5em;
  font-weight: 700;
  background: #ffc107b8;
  color: white;
  line-height: 3.5em;
}
.container .card:hover + .pic {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.blank_space {
  height: 2em;
}

footer {
  height: 3em;
  background: black;
  line-height: 3em;
  color: white;
  text-align: center;
}

@media (max-width: 980px) {
  .card {
    min-width: 250px;

  }
  .card .pic{
    border-radius: 10px;
    overflow: hidden;
  }
  .card .cap {
    font-size: 1.2rem;
  }

  .usr_type {
    display: block;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    bottom: 0;
    margin: 10px 0 10px 50px;
  }

  .team{
    font-size: 2rem;

  }
  .nav li{
    width: 100px;
  }
}