@font-face {
  font-family: GypsyCurse;
  src: url("../fonts/GypsyCurse.woff") format("woff");
  /* IE6-IE8 */
}

@font-face{
  font-family: RiseInsidE;
  src: url("../fonts/RiseInsidE-Regular.woff") format("woff");
}

@font-face{
  font-family: Crucifixion;
  src: url("../fonts/Crucifixion-Regular.woff") format("woff");
}
@font-face{
  font-family: ScaryHalloweenFont;
  src: url("../fonts/ScaryHalloweenFont.ttf") format("truetype");
}



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #2229;
}

::-webkit-scrollbar-track {
  background: #eee8;
}

body {
  background: linear-gradient(black,#306400);
  background: black;

}

.abs{
  position: absolute;
}

.background{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* z-index: -100; */
  opacity: 0.7;
  
}
#particles-js{
/* width: 100%;
height: 100%; */
position: fixed;
z-index: 0;
background-color: rgba(0,0,0,0);
background-image: url('');
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}


header {
  height: 4em;
  /* background: -webkit-gradient(linear, left top, left bottom, from(#E91E63), to(#9C27B0));
  background: -o-linear-gradient(#E91E63, #9C27B0);
  background: linear-gradient(#E91E63, #9C27B0); */
  position: -webkit-sticky;
  position: sticky;
  top: -2.5em;
  z-index: 2;
}
header .logo {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 2px 30px;
  font-family: "open sans";
}

.team {
  height: 2em;
  font-size: 4em;
  color: #ffffff;
  text-shadow: -5px 4px 3px #0009;
  background: linear-gradient(black,black,#77b238 90%,#cecece);
  /* background: linear-gradient(red,black); */
  /* background: linear-gradient(0, rgba(34, 34, 34, 0.41) 0%, rgba(34, 34, 34, 0.41) 20%,rgba(62, 62, 62, 0.41) 20%, rgba(62, 62, 62, 0.41) 40%,rgba(48, 48, 48, 0.41) 40%, rgba(48, 48, 48, 0.41) 60%,rgba(6, 6, 6, 0.41) 60%, rgba(6, 6, 6, 0.41) 80%,rgba(20, 20, 20, 0.41) 80%, rgba(20, 20, 20, 0.41) 100%),linear-gradient(90deg, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 33.333%,rgb(36, 36, 36) 33.333%, rgb(36, 36, 36) 66.666%,rgb(25, 25, 25) 66.666%, rgb(25, 25, 25) 99.999%); */
  /* background: linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0%, rgba(47, 47, 47, 0.08) 90%,rgba(75, 75, 75, 0.08) 90%, rgba(75, 75, 75, 0.08) 100%),linear-gradient(45deg, rgba(172, 172, 172, 0.1) 0%, rgba(172, 172, 172, 0.1) 65%,rgba(18, 18, 18, 0.1) 65%, rgba(18, 18, 18, 0.1) 100%),linear-gradient(90deg, rgba(157, 157, 157, 0.04) 0%, rgba(157, 157, 157, 0.04) 83%,rgba(198, 198, 198, 0.04) 83%, rgba(198, 198, 198, 0.04) 100%),linear-gradient(0deg, rgba(189, 189, 189, 0.07) 0%, rgba(189, 189, 189, 0.07) 22%,rgba(127, 127, 127, 0.07) 22%, rgba(127, 127, 127, 0.07) 100%),linear-gradient(0deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 34%,rgba(96, 96, 96, 0.03) 34%, rgba(96, 96, 96, 0.03) 100%),linear-gradient(135deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 68%,rgba(192, 192, 192, 0.05) 68%, rgba(192, 192, 192, 0.05) 100%),linear-gradient(0deg, rgba(62, 62, 62, 0.08) 0%, rgba(62, 62, 62, 0.08) 99%,rgba(114, 114, 114, 0.08) 99%, rgba(114, 114, 114, 0.08) 100%),linear-gradient(0deg, rgba(227, 227, 227, 0.07) 0%, rgba(227, 227, 227, 0.07) 83%,rgba(129, 129, 129, 0.07) 83%, rgba(129, 129, 129, 0.07) 100%),linear-gradient(45deg, rgba(27, 27, 27, 0.1) 0%, rgba(27, 27, 27, 0.1) 27%,rgba(58, 58, 58, 0.1) 27%, rgba(58, 58, 58, 0.1) 100%),linear-gradient(90deg, rgb(107, 107, 107),rgb(2, 2, 2)); */
  text-align: center;
  line-height: 2.5em;
  font-family: "ScaryHalloweenFont";
  position: relative;
  z-index: 10;
}

.nav {
  text-align: center;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  background: #eeed;
  /* background: linear-gradient(213deg, rgba(191, 191, 191, 0.02) 0%, rgba(191, 191, 191, 0.02) 16.667%,rgba(64, 64, 64, 0.02) 16.667%, rgba(64, 64, 64, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(6, 6, 6, 0.02) 50.001%, rgba(6, 6, 6, 0.02) 66.668%,rgba(53, 53, 53, 0.02) 66.668%, rgba(53, 53, 53, 0.02) 83.33500000000001%,rgba(30, 30, 30, 0.02) 83.335%, rgba(30, 30, 30, 0.02) 100.002%),linear-gradient(245deg, rgba(187, 187, 187, 0.02) 0%, rgba(187, 187, 187, 0.02) 12.5%,rgba(231, 231, 231, 0.02) 12.5%, rgba(231, 231, 231, 0.02) 25%,rgba(123, 123, 123, 0.02) 25%, rgba(123, 123, 123, 0.02) 37.5%,rgba(229, 229, 229, 0.02) 37.5%, rgba(229, 229, 229, 0.02) 50%,rgba(205, 205, 205, 0.02) 50%, rgba(205, 205, 205, 0.02) 62.5%,rgba(21, 21, 21, 0.02) 62.5%, rgba(21, 21, 21, 0.02) 75%,rgba(222, 222, 222, 0.02) 75%, rgba(222, 222, 222, 0.02) 87.5%,rgba(19, 19, 19, 0.02) 87.5%, rgba(19, 19, 19, 0.02) 100%),linear-gradient(333deg, rgba(128, 128, 128, 0.02) 0%, rgba(128, 128, 128, 0.02) 25%,rgba(235, 235, 235, 0.02) 25%, rgba(235, 235, 235, 0.02) 50%,rgba(129, 129, 129, 0.02) 50%, rgba(129, 129, 129, 0.02) 75%,rgba(4, 4, 4, 0.02) 75%, rgba(4, 4, 4, 0.02) 100%),linear-gradient(154deg, rgba(241, 241, 241, 0.03) 0%, rgba(241, 241, 241, 0.03) 16.667%,rgba(248, 248, 248, 0.03) 16.667%, rgba(248, 248, 248, 0.03) 33.334%,rgba(21, 21, 21, 0.03) 33.334%, rgba(21, 21, 21, 0.03) 50.001000000000005%,rgba(94, 94, 94, 0.03) 50.001%, rgba(94, 94, 94, 0.03) 66.668%,rgba(250, 250, 250, 0.03) 66.668%, rgba(250, 250, 250, 0.03) 83.33500000000001%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(166deg, rgba(104, 104, 104, 0.01) 0%, rgba(104, 104, 104, 0.01) 12.5%,rgba(77, 77, 77, 0.01) 12.5%, rgba(77, 77, 77, 0.01) 25%,rgba(13, 13, 13, 0.01) 25%, rgba(13, 13, 13, 0.01) 37.5%,rgba(194, 194, 194, 0.01) 37.5%, rgba(194, 194, 194, 0.01) 50%,rgba(71, 71, 71, 0.01) 50%, rgba(71, 71, 71, 0.01) 62.5%,rgba(234, 234, 234, 0.01) 62.5%, rgba(234, 234, 234, 0.01) 75%,rgba(38, 38, 38, 0.01) 75%, rgba(38, 38, 38, 0.01) 87.5%,rgba(95, 95, 95, 0.01) 87.5%, rgba(95, 95, 95, 0.01) 100%),linear-gradient(98deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 12.5%,rgba(126, 126, 126, 0.03) 12.5%, rgba(126, 126, 126, 0.03) 25%,rgba(145, 145, 145, 0.03) 25%, rgba(145, 145, 145, 0.03) 37.5%,rgba(70, 70, 70, 0.03) 37.5%, rgba(70, 70, 70, 0.03) 50%,rgba(174, 174, 174, 0.03) 50%, rgba(174, 174, 174, 0.03) 62.5%,rgba(77, 77, 77, 0.03) 62.5%, rgba(77, 77, 77, 0.03) 75%,rgba(123, 123, 123, 0.03) 75%, rgba(123, 123, 123, 0.03) 87.5%,rgba(36, 36, 36, 0.03) 87.5%, rgba(36, 36, 36, 0.03) 100%),linear-gradient(293deg, rgba(55, 55, 55, 0.03) 0%, rgba(55, 55, 55, 0.03) 20%,rgba(142, 142, 142, 0.03) 20%, rgba(142, 142, 142, 0.03) 40%,rgba(159, 159, 159, 0.03) 40%, rgba(159, 159, 159, 0.03) 60%,rgba(139, 139, 139, 0.03) 60%, rgba(139, 139, 139, 0.03) 80%,rgba(9, 9, 9, 0.03) 80%, rgba(9, 9, 9, 0.03) 100%),linear-gradient(26deg, rgba(116, 116, 116, 0.01) 0%, rgba(116, 116, 116, 0.01) 20%,rgba(179, 179, 179, 0.01) 20%, rgba(179, 179, 179, 0.01) 40%,rgba(5, 5, 5, 0.01) 40%, rgba(5, 5, 5, 0.01) 60%,rgba(212, 212, 212, 0.01) 60%, rgba(212, 212, 212, 0.01) 80%,rgba(246, 246, 246, 0.01) 80%, rgba(246, 246, 246, 0.01) 100%),linear-gradient(90deg, #FFC107,#FF5722); */
  padding: 1rem;
  top: 0;
  z-index: 3;
}
.nav li {
  display: inline-block;
  width: 250px;
  font-size: 1em;
  color: #020202;
  text-align: center;
}
.nav li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.usr_type {
  display:block;
  position: relative;
  font-family: montserrat;
  font-size: 2rem;
  padding: 2px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  /* bottom: -150px; */
  color: #FFEB3B;
  border-bottom: 2px solid #FFEB3B55;
  font-weight: 700;
  white-space: nowrap;
/*   -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); */
}
/* .usr_type:hover + .container {
  color: #da2361;
  background: #ed143d11;
} */
/* .usr_type:hover {
  color: #da2361;
} */

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}
.container .info {
  width: 100%;
  margin: 10px 10%;
  color: #777;
  font-style: italic;
}
.container .card {
  width: 200px;
  position: relative;
  margin: 1rem 3rem;
}
.container .card .pic {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  /* -webkit-filter: grayscale(100%); */
          /* filter:saturate(110%) grayscale(100%); */
}
.container .card .pic:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.container .card .pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.container .card .pic img:hover {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.container .card .cap {
  height: 3.5em;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  border-radius: 6px;
  overflow: hidden;
}
.container .card .cap:hover + .card {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.container .card .cap .con {
  -webkit-transform: translate(0, -3.5em);
      -ms-transform: translate(0, -3.5em);
          transform: translate(0, -3.5em);
}
.container .card .cap .con:hover {
  -webkit-transform: translate(0, 0em);
      -ms-transform: translate(0, 0em);
          transform: translate(0, 0em);
}
.container .card .cap .usr_name {
  font-weight: 700;
  padding: 0.25em;
  height: 1.5em;
  color: #fff;
}
.container .card .cap .desc {
  color: #888;
  padding: 0.15em;
  font-size: 0.75em;
  font-style: italic;
  height: 1em;
}
.container .card .cap .num {
  height: 3.5em;
  font-weight: 700;
  background: #77b238;
  color: white;
  line-height: 3.5em;
}
.container .card:hover + .pic {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.blank_space {
  height: 2em;
}

footer {
  height: 3em;
  background: black;
  line-height: 3em;
  color: white;
  text-align: center;
}

@media (max-width: 980px) {
  .card {
    min-width: 250px;

  }
  .card .pic{
    border-radius: 10px;
    overflow: hidden;
  }
  .card .cap {
    font-size: 1.2rem;
  }

  .usr_type {
/*     display: block;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    bottom: 0;
    margin: 10px 0 10px 50px; */
  }

  .team{
    font-size: 2rem;

  }
  .nav{
    height: 1.5em;
    padding: 0 0 3px 0;
  }
  .nav li{
    width: 100px;
  }
}